@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,600,700,700i|Montserrat:400,600,700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: rgba(106, 106, 106, 0.8);
}

body {
	font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
	min-height: 100%;
	min-width: 100%;
}

.navbar {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 1.1em 2.8em;
}

.navbar ul {
	display: inline-flex;
	margin-left: auto;
	flex-direction: row;
	list-style-type: none;
}

.navbar ul li a {
	margin-right: 2.2em;
	padding: 1em 1em;
	font-style: normal;
	font-weight: 600;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(106, 106, 106, 0.8);
	cursor: pointer;
	transition: color ease-in-out 40ms;
}

.navbar ul li {
	transition: transform ease-in-out 40ms;
}

.navbar ul li:hover {
	transform-origin: bottom;
	transform: scale(1.2);
}

.navbar ul li a:hover {
	color: darkgreen;
	font-weight: 700;
}

.btn-link {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(106, 106, 106, 0.8);
	cursor: pointer;
}

.logo {
	cursor: pointer;

	margin-left: 2em;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 0.21em;
	text-transform: uppercase;

	color: #0a7a44;
}

.intro-flex {
	height: 82vh;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.intro-text {
	margin-top: 1em;
	font-family: 'Cormorant Garamond', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 4rem;
	line-height: 108%;
	text-align: right;
	color: #1a1a1a;
}

.vertical-border {
	flex-basis: 1;
	width: 170px;
	height: 1.3px;
	background: #1a1a1a;
	transform: rotate(90deg);
}

.svg-graphic {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.outer-svg .middle-svg .inner-svg {
	justify-self: center;
}

.outer-svg {
	z-index: -2;
}
.middle-svg {
	z-index: -1;
}
.inner-svg {
	z-index: 0;
}
