@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400i,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

:root {
	/* colors */
	--primary-color: darkslategray;
	--secondary-color: #1ec661;
	--dark-color: #1a1a1a;
	--light-color: rgba(106, 106, 106, 0.8);

	/* fonts */
	--display-font: 'Cormorant Garamond';
	--secondary-font: 'Montserrat', sans-serif;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
*:focus {
	background: white;
}

a {
	display: inline-block;
	text-decoration: none;
	color: var(--light-color);
}

body {
	font-family: var(--display-font);
	font-display: fallback;
	height: 100%;
	width: 100%;
}

.navbar {
	font-family: var(--secondary-font);
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 1.1em 2.8em;
}

.nav-list {
	display: inline-flex;
	margin-left: auto;
	flex-direction: row;
	list-style-type: none;
}

.nav-list-link {
	margin-right: 3em;
	padding: 0em 1em;
	font-style: normal;
	font-weight: 600;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--light-color);
	cursor: pointer;
	transition: color ease-in-out 100ms, transform ease-in-out 80ms;
}

.nav-list-link:hover {
	transform-origin: bottom;
	transform: scale(1.25);
	color: var(--primary-color);
	font-weight: 700;
}

.link-active {
	cursor: default;
	transform-origin: bottom;
	transform: scale(1.25);
	color: var(--primary-color);
	font-weight: 700;
}

.btn-link {
	font-family: var(--secondary-font);
	font-style: normal;
	font-weight: 600;
	font-size: 0.9rem;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--light-color);
	cursor: pointer;
}

.logo {
	cursor: pointer;
	margin-left: 2.5em;
	font-family: var(--secondary-font);
	font-style: normal;
	font-weight: 700;
	font-size: 0.8rem;
	letter-spacing: 4.5px;
	text-transform: uppercase;

	color: var(--light-color);
}

.logo-active {
	color: var(--primary-color);
}

.intro-flex,
.about-flex,
.contact-flex {
	margin-top: 13vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.about-flex {
	margin-top: 7vh;
}

.filler-flex-top {
	flex: 0.1 1 auto;
}

.filler-flex-bottom {
	flex: 1 1 auto;
}

.intro-text {
	margin-top: 1em;
	width: 40vw;
	font-family: var(--display-font);
	font-style: normal;
	font-weight: 700;
	font-size: 3.8rem;
	line-height: 1.12;
	text-align: right;
	color: darkslategray;
	animation: 1s floater ease-out forwards;
}

.comma {
	display: none;
	font-size: inherit;
}

.highlight-text {
	color: var(--secondary-color);
	font-size: inherit;
}

.intro-bottom-link {
	margin-top: 2em;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	animation: 1s floater ease-out forwards;
}

.intro-bottom-link a {
	transform: translateY(1em);
}

.intro-graphic {
	width: 75%;
	height: 75%;
}

.vertical-border-real {
	position: absolute;
	top: 25em;
	left: 50%;
	flex-basis: 1;
	width: 120px;
	height: 1.3px;
	background: #1a1a1a;
	transform: translateX(-50%) rotate(90deg);
	animation: 1s vertical-border ease-in-out forwards;
}

.vertical-border-shadow {
	opacity: 0;
	flex-basis: 1;
	width: 170px;
	height: 1.3px;
	background: #1a1a1a;
	transform: rotate(90deg);
}

.svg-section {
	width: 40vw;
	animation: 1s floater ease-out forwards;
}

.about-right-section {
	align-self: center;
	width: 40vw;
	animation: 1s floater ease-out forwards;
}

.about-right-section svg {
	margin-left: -1em;
}

.about-large-text,
.contact-large-text {
	font-style: normal;
	font-weight: 700;
	font-size: 3.8rem;
	line-height: 1.12;
	text-align: right;

	color: darkslategray;
	animation: 1s floater ease-out forwards;
}

.about-text {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 120.6%;
}

.about-footer,
.contact-footer {
	font-family: var(--secondary-font);
	font-style: normal;
	font-weight: 700;
	font-size: 0.9rem;
	text-transform: uppercase;
	color: var(--light-color);
	align-self: baseline;
}

.contact-footer {
	animation: 1s floater ease-out forwards;
}

.quoter-text {
	font-style: italic;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 108.6%;
	/* or 26px */

	text-align: right;

	color: darkslategray;
	animation: 1s floater ease-out forwards;
}

/* Work Section */

.work-flex {
	margin: 3em auto;
	width: 70em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 8em;
	row-gap: 5em;
}

.card {
	margin: 0;
	display: flex;
	flex-flow: column wrap;
	box-sizing: border-box;
	text-align: center;
	background-color: rgb(250, 250, 250);
	border-radius: 30px;
	box-shadow: 15px 15px 30px lightgrey, -10px -10px 20px white;
	overflow: hidden;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s linear;
}

.card-text-section {
	padding: 1.5rem 2rem 1.5rem;
}

.card-title {
	margin-bottom: 0.7em;
	font-family: var(--secondary-font);
	font-weight: bold;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: darkslategray;
	cursor: pointer;
}

.card-subtitle-info {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.card-sub-section {
	display: block;
	margin: 0 1em;
}

.card-subtitle {
	margin-top: 0.5em;
	font-family: var(--secondary-font);
	font-size: 0.7rem;
	font-weight: 700;
	padding: 1rem 0;
	padding-bottom: 0;
}

.card-text,
.card-summary {
	font-family: var(--primary-font);
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 1em;
}

.card-text {
	padding: 0.5em;
}

.about-profile-photo {
	width: 189px;
	height: 189px;
}

.contact-large-text {
	text-align: left;
	margin-top: 0.2em;
	font-size: 3.7rem;
}

.smiley {
	position: absolute;
	width: 374px;
	height: 374px;
	left: 65vw;
	top: 218px;
	opacity: 0;
	animation: 1s late-display 0.5s ease-in-out forwards;
}

.contact-svg {
	margin-top: 0.5em;
	width: 30em;
	animation: 1s floater ease-out forwards;
}

.loading {
	background: transparent url('./assets/images/spinner.gif') center no-repeat;
	background-size: 2rem;
	width: 100%;
}

/*
	///
	///
	///
	 Keyframes for all animations.
	///
	///
	/// 
*/

@keyframes floater {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes vertical-border {
	from {
		width: 50px;
	}
	to {
		width: 130px;
	}
}

@keyframes late-display {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (min-width: 1366px) and (max-width: 1461px) {
	* {
		font-size: 15px;
	}
}

@media (min-width: 1132px) and (max-width: 1366px) {
	* {
		font-size: 14px;
	}
	.intro-text {
		font-size: 4rem;
	}
	.about-large-text {
		font-size: 4rem;
	}
}

@media (min-width: 0px) and (max-width: 1132px) {
	* {
		font-size: 15px;
	}
	.intro-flex,
	.about-flex {
		flex-flow: column-reverse;
		margin: 2em;
		padding: 0;
	}
	.intro-flex {
		margin-top: 5vh;
	}
	.intro-flex br {
		display: none;
	}
	.intro-text {
		width: 100%;
		margin: 0;
		padding: 0 2em;
		text-align: center;
		font-size: 3.4rem;
		transform: translateY(-0.5em);
	}
	.comma {
		display: inline;
	}
	.intro-bottom-link {
		justify-content: center;
	}
	.vertical-border-real,
	.vertical-border-shadow {
		display: none;
	}

	.svg-section {
		width: 60%;
		text-align: center;
		opacity: 0.9;
		transform: scale(0.9);
		margin: 7vh 0;
	}
	.about-right-section {
		width: 100%;
		padding: 0 4em;
	}
	.about-large-text {
		display: none;
		font-size: 3rem;
		opacity: 0.2;
	}

	.quoter-text {
		display: none;
	}

	.smiley {
		display: none;
	}

	.work-flex {
		width: 50em;
		column-gap: 5em;
	}
	.contact-flex {
		flex-direction: column;
		margin-top: 8vh;
	}
	.contact-footer {
		margin-top: 1em;
	}
	.contact-svg {
		width: 80%;
	}
	.contact-right-section {
		text-align: center;
	}
	.contact-large-text {
		padding: 0 0.5em;
		margin-top: 0.5em;
		text-align: center;
		font-size: 3rem;
	}
	.contact-large-text br {
		display: none;
	}
}

@media (max-width: 848px) {
	* {
		font-size: 15px;
	}
	.intro-text {
		padding: 0 1em;
	}
	.work-flex {
		width: 70%;

		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 720px) {
	.navbar {
		flex-direction: column;
		justify-content: center;
		padding-bottom: 0;
	}
	.logo {
		transition: font-size 0.2s ease-in-out;
		font-size: 0.6rem;
		margin: 0;
		padding-bottom: 0.8em;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #2a2a2a;
	}
	.logo-active {
		transition: font-size 0.1s ease-in-out;
		font-size: 0.8rem;
		padding-bottom: 0.5em;
	}
	.nav-list {
		margin: 0.5em auto;
	}
	.nav-list-link {
		font-size: 0.8rem;
		margin: 0 2vw;
	}

	.svg-section {
		width: 100%;
	}
	.intro-flex {
		margin: 0;
	}
	.intro-text,
	.contact-large-text {
		font-size: 2.2rem;
	}

	.work-flex {
		width: 80%;
	}
	.about-right-section {
		margin: 0;
		padding: 0 0.5em;
		text-align: center;
	}
	.about-right-section svg {
		margin: 0;
	}

	.about-text {
		font-size: 1.3rem;
		padding: 0;
	}
	.about-text br {
		display: none;
	}
	.about-profile-photo {
		width: 100%;
		height: 180px;
	}
}

@media (max-width: 360px) {
	* {
		font-size: 12px;
	}
	.about-me-text {
		display: none;
	}
	.intro-text {
		font-size: 2.2rem;
	}
}
